<form class="ui large form segment">
  <div class="field">
    <label for="title">Title:</label>
    <input class="inputTitle" id="inputTitle" name="inputTitle" [(ngModel)]="title" >  <!-- changed -->
  </div>
  <div class="field">
    <label for="link">Link: </label>
    <input name="link"[(ngModel)]="link"> <!-- changed -->
  </div>
  <!-- added this button -->
  <button (click)="updateArticle(article.id, article.title, article.link)"  
          class="ui positive right floated button">  
    Update
  </button>  

</form>